.c-button-group {
  & > .c-button {
    margin-right: 0.4rem;
  }

  &--schedule-days > .c-button {
    font-size: 1.2rem;
  }
}

.c-button {
  padding: 0.8rem 3rem;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 6px 6px -6px black;
	   -moz-box-shadow: 0 6px 6px -6px black;
	        box-shadow: 0 6px 6px -6px black;

  &:hover,
  &:focus,
  &--active {
    background-color: var(--purple-1);
    border: 1px solid var(--purple-1);
    color: white;
  }
}



.un-button {
  transition: background-color none;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  display: block;
}

.un-button:focus {
  outline: none;
}

@media (--medium-viewport) {
  .c-button-group--schedule-days > .c-button {
    padding: 1rem 1rem;
    font-size: 0.8rem;
  }

  .c-button-group {
    & > .c-button {
      margin: 0 2px;
    }
  }
}

@media (--small-viewport) {
  .c-button-group--schedule-days > .c-button {
    padding: 1rem 0.3rem;
    font-size: 0.8rem;
    margin: 0;
  }
}
