.c-content {
  padding: 2rem 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;

  & > h1 {
    margin: 0 auto;
  }

  & > .c-button-group {
    margin: 2rem auto;
  }
}

.c-content--info {
  min-height: 50vh;
  text-align: center;
  background-color: white;

  & > p {
    max-width: 30%;
    margin: 1rem auto;
  }
}

.c-content--intro {
  min-height: 50vh;
  justify-content: space-between;
  position: relative;
  background-color: var(--light-blue);
  z-index: 33;

  &:first-child {
    padding-top: 1rem;
  }
  & img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  & > a {
    margin: 0 auto;
    & svg {
      height: 48px;
      width: 48px;
    }
  }

  & p, & h1  {
    margin-top: 1rem;
    text-align: center;
    font-weight: 900;
  }

  & .c-button {
    margin-top: 2rem;
    display: inline-block;
    margin-right: 1rem;
  }
}
.c-content--not-found {
  text-align: center;

  & svg {
    width: 100px;
    height: 100px;
  }
}
.c-content--schedule,
.c-content--speakers,
.c-content--not-found {
  background-color: var(--gray-2);

  & .c-content__container {
    padding: 0 5%;
  }
}

@media(--xxlarge-viewport) {
  .c-content--schedule,
  .c-content--speakers,
  .c-content--not-found {
    background-color: var(--gray-2);

    & .c-content__container {
      padding: 0 20%;
    }
  }

}

@media (--medium-viewport) {
  .c-content--intro {
    min-height: 80vh;
  }

  .c-content--info > p {
      max-width: 80%;
  }

  .c-content--schedule,
  .c-content--speakers,
  .c-content--not-found {
    & .c-content__container {
      padding: 0;
    }
  }
}
