@import './vars.css';
@import './content.css';
@import './button.css';
@import './slots.css';
@import './talks.css';
@import './speakers.css';

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


.c-paragraph {
  color: black;

  &--white {
    color: white;
  }
}

svg {
  width: 30px;
  height: 30px;
}

.google-maps-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.google-maps-blocker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.google-maps-content {
  width: 350px;
  height: 180px;
  padding: 20px;
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
  text-align: left;
  background: white;
  border: 1px solid var(--gray-1);
}

.google-maps {
  height: 100vh;
  width: 100vw;
  border: none;
}

.c-schedule-transition-enter {
  opacity: 0.01;
}

.c-schedule-transition-enter.c-schedule-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.c-schedule-transition-leave {
  opacity: 1;
}

.c-schedule-transition-leave.c-schedule-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.c-code-of-conduct {
  margin-bottom: 2rem;
  text-align: center;
  &__text {
    display: block;
    max-width: 40%;
    margin: 0 auto;
  }
  &__text--hidden {
    display: none;
  }

  & button {
    transition: background-color none;
    padding: 0;
    border-radius: 0;
    font-size: 1em;
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;
    display: block;
    border-bottom: 2px solid black;
    margin: 0 auto;

    &:hover,
    &:focus {
      border-color: var(--purple-1);
    }
  }
}

@media (--medium-viewport) {
  .google-maps-content {
    width: 60%;
  }

  .c-code-of-conduct {
    &__text {
      max-width: 90%;
    }
  }
}
