@import './vars.css';
@import './content.css';
@import './button.css';
@import './slots.css';
@import './talks.css';
@import './speakers.css';

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


.c-paragraph {
  color: black;

  &--white {
    color: white;
  }
}

svg {
  width: 30px;
  height: 30px;
}

.google-maps-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.google-maps-blocker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.google-maps-content {
  width: 350px;
  height: 136px;
  padding: 20px;
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
  text-align: left;
  background: white;
  border: 1px solid var(--gray-1);
}

.google-maps {
  height: 100vh;
  width: 100vw;
  border: none;
}

@media (--medium-viewport) {
  .google-maps-content {
    width: 60%;
  }
}
