.c-speakers {

  &__container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    text-align: center;


    & img {
      border-radius: 50%;
    }

    & svg,
    & img {
      width: 160px;
      height: 160px;
    }
  }

  &__container + &__container {
  }

  &__speaker {
    text-align: center;
    flex: 1 30%;
    margin: 0 1rem;
  }

  &__talk-title {
    text-align: center;
  }
}

.c-speakers + .c-speakers {
  border-top: 1px dotted var(--knowit-green);
}
